table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: #202e3b
}

.T1{
  border: #202e3b
    width: 100%;
    height: 100%;
    background-color: #fac11c;   
    border-collapse: collapse;
}
.a{
    text-align: right;
}
.b{
font-size:150%;
font-weight: bolder;
color: white;
}
.c{
    background-image: url("Capture3.PNG");
    background-repeat: no-repeat, repeat;
    width: 300px;
    height: 600px;
    text-shadow: white 0px 0px 2px;

    background-size: 100%;
}
.d{
    text-align: center;
    background-color: #202e3b;
}
.div{
    color:#fac11C;
}
.e{
    color: white;
}




/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #202e3b;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#fac11C;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color:#fac11c;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }



  button{
border: none;
    color: #202e3b;
    background-color: #fac11c;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .T2{
    width: 100%;
    height: 100%;
    background-color:#202e3b;
    border-collapse: collapse;
    border: #202e3b

}
  